doctype html
html
  head
    meta charset="utf-8"
    title = content_for(:title) || "Plei Rails"
    meta name="viewport" content="width=device-width,initial-scale=1"
    meta name="apple-mobile-web-app-capable" content="yes"
    meta name="application-name" content="Plei Rails"
    meta name="mobile-web-app-capable" content="yes"
    = csrf_meta_tags
    = csp_meta_tag

    = yield :head

    / Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!)
    / = tag.link rel: "manifest", href: pwa_manifest_path(format: :json)

    link rel="icon" href="/icon.png" type="image/png"
    link rel="icon" href="/icon.svg" type="image/svg+xml"
    link rel="apple-touch-icon" href="/icon.png"

    / Includes all stylesheet files in app/assets/stylesheets
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"

  body class="font-sans text-sm"
    a class="fixed -top-20 left-5 z-[60] rounded-md bg-primary p-3 text-primary-foreground focus:top-3" href="#main-content" Skip to tracks
    = render Components::Sidebar.new(playlist: @playlist, view: @view, artist: @artist) do
      = render Components::TopNav.new(query: @query, playlist: @playlist, view: @view)
      #main-content tabindex="-1"
        = yield
